.item {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.item-button {
  width: 100%;
  color: #ffffff;
}

.item-actions {
  height: 30px;
  padding-top: 8px;
  padding-left: 10px;
  color: #ffffff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 10;
  margin-left: -34px;
  background-color: transparent;
}

.selected {
  border-style: dashed;
}

.multi_selected {
  border-style: dashed;
}

.item-note {
  width: 100%;
}
