.item-button {
  width: 100%;
  color: #ffffff;
  margin-bottom: 10px;
}

.selected {
  border-style: dashed;
}
.pieczywo {
  background-color: #988827;
}

.napoje {
  background-color: aqua;
}

.mieso {
  background-color: #c70d38;
}

.warzywa {
  background-color: #42ad24;
}
