.entry-key {
  width: 100%;
  display: flex;
  flex: 0 0 auto;
}

.entry-value {
  padding-left: 30px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.entry-actions {
  float: right;
  display: inline-block;
  padding-top: 12px;
  padding-right: 10px;
  margin-left: -34px;
  z-index: 100;
}
