<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="over">
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
    </mat-toolbar>
    <app-menu [nav]="sidenav"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="content-toolbar">
      <button mat-icon-button (click)="sidenav.toggle()" [disabled]="sidenav.opened">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="title">{{title}}</span>
    </mat-toolbar>
    <div class="router-outlet-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
