.checked {
  text-decoration: line-through;
}

.not_checked {
}

.landing-input {
  width: 100%;
}

.list-option-icon{
  vertical-align: bottom;
  margin-right: 5px;
  color: transparent;
  width: 10px;
}

.edit-button {
  width: 100%;
}
