@use '@angular/material' as mat;
@include mat.core();
$theme-primary: mat.define-palette(mat.$indigo-palette);
$theme-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$theme-warn: mat.define-palette(mat.$red-palette);
$theme: mat.define-light-theme((
  color: (
    primary: $theme-primary,
    accent: $theme-accent,
    warn: $theme-warn,
  )
));
@include mat.all-component-themes($theme);

.body {
  background-color: bisque
}

.pieczywo {
  background-color: #988827;
}

.napoje {
  background-color: aqua;
}

.mięso {
  background-color: #c70d38;
}

.warzywa {
  background-color: #42ad24;
}

.chemia {
  background-color: #30342f;
}

.dania {
  background-color: #0b28e0;
}

.higieniczne {
  background-color: #b8e0f6;
}

.nabiał {
  background-color: #f3ef96;
}

.orzechy {
  background-color: #efdf08;
}

.owoce {
  background-color: #f68f0a;

}

.przyprawy {
  background-color: #c0f3af;
}

.różne {
  background-color: #8f8888;
}

.słodycze {
  background-color: #e80fbc;

}

.sypkie {
  background-color: #51f6db;
}
