@use '@angular/material' as mat;

@include mat.all-component-typographies();
@include mat.core();
$theme-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$theme-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$theme-warn: mat.m2-define-palette(mat.$m2-red-palette);
$theme: mat.m2-define-light-theme((
  color: (
    primary: $theme-primary,
    accent: $theme-accent,
    warn: $theme-warn,
  )
));
@include mat.all-component-themes($theme);

.body {
  background-color: #ffe4c4;
}

.pieczywo {
  background-color: rgba(134, 77, 4, 0.7) !important;
}

.napoje {
  background-color: rgba(146, 94, 225, 0.7) !important;
}

.mięso {
  background-color: rgba(199, 13, 56, 0.7) !important;
}

.warzywa {
  background-color: rgba(66, 173, 36, 0.7) !important;
}

.chemia {
  background-color: rgba(48, 52, 47, 0.7) !important;
}

.dania {
  background-color: rgba(11, 40, 224, 0.7) !important;
}

.higieniczne {
  background-color: rgba(47, 161, 222, 0.7) !important;
}

.nabiał {
  background-color: rgba(13, 229, 74, 0.7) !important;
}

.orzechy {
  background-color: rgba(239, 223, 8, 0.7) !important;
}

.owoce {
  background-color: rgba(250, 166, 55, 0.7) !important;
}

.przyprawy {
  background-color: rgba(18, 54, 1, 0.7) !important;
}

.różne {
  background-color: rgba(143, 136, 136, 0.7) !important;
}

.słodycze {
  background-color: rgba(232, 15, 188, 0.7) !important;
}

.sypkie {
  background-color: rgba(36, 115, 101, 0.7) !important;
}

.nieznane {
  background-color: rgba(246, 74, 4, 0.7) !important;
}

.mrożone {
  background-color: rgba(2, 74, 115, 0.7) !important;
}

.dziecięce {
  background: rgb(20, 116, 222, 0.7);
  background: linear-gradient(90deg, rgba(255, 0, 0, 0.7) 20%, rgba(20, 116, 222, 0.7) 100%) !important;
}

.polska {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 5%, rgba(255,0,0,1) 100%) !important;
  border: 1px solid rgba(255,0,0,1) !important;
}
